<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h1>Bootstrap Templates</h1>
        <section class="mt-5">
            <h2>Typography</h2>
            <small class="text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus animi amet, odit debitis doloremque harum soluta blanditiis illum eius repudiandae commodi fuga aliquid at necessitatibus pariatur. In assumenda cupiditate similique.
            </small>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sit, esse incidunt quibusdam quo quaerat, eaque dolores error dolor quisquam, laudantium rerum enim dolore adipisci accusamus sint vero. Repudiandae, praesentium!
            </p>
        </section>

        <section class="mb-5">
            <h2>Text Emphasis</h2>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, nobis?</p>
            <p class="text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, velit.</p>
            <p class="text-secondary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, mollitia?</p>
            <p class="text-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, illum.</p>
            <p class="text-success">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, deleniti?</p>
            <p class="text-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, impedit.</p>
            <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, numquam!</p>

        </section>

        <blockquote class="blockquote">
            <h2>Blockquote</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fugiat?</p>
            <footer class="blockquote-footer">Lorem ipsum dolor sit amet.</footer>

        </blockquote>

        <section class="mb-5">
            <p class="text-left">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit eos maxime officiis excepturi officia aspernatur veritatis nesciunt deserunt esse, unde, harum consectetur soluta voluptatibus cumque voluptate nisi fugiat non temporibus commodi error numquam quos? Officiis fugiat, aspernatur ea odio totam at ut rerum unde iste, veniam nesciunt, incidunt ullam vel!
            </p>

            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis a architecto voluptatum magni illo incidunt quam, et quos repellendus sit laudantium modi beatae praesentium ab dolorem. Error incidunt quas, quam asperiores animi molestiae. Praesentium, dolores ad velit omnis molestias consequuntur quos alias tempore commodi ipsa eos rem repudiandae culpa eum.
            </p>

        <p class="text-right">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut vitae accusantium dicta? Provident dolorem voluptas rerum et exercitationem maxime temporibus? Aliquid nihil asperiores dicta odit consequatur ea vel. Est placeat maiores aliquid eligendi fugit amet, debitis voluptatem inventore! Quas non repellendus explicabo hic suscipit omnis molestiae asperiores. Ipsum, quia illo.
        </p>
        </section>

        <section class="mb-5">
            <h2>Buttons</h2>
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-secondary">Seconday</button>
            <button class="btn btn-success">Sucess</button>
            <button class="btn btn-danger">Danger</button>
            <button class="btn btn-warning">Warning</button>
            <button class="btn btn-info">Info</button>

        </section> 

        <section class="mb-5">
            <h2>Buttons Outline</h2>
            <button class="btn btn-outline-primary">Primary</button>
            <button class="btn btn-outline-secondary">Seconday</button>
            <button class="btn btn-outline-success">Sucess</button>
            <button class="btn btn-outline-danger">Danger</button>
            <button class="btn btn-outline-warning">Warning</button>
            <button class="btn btn-outline-info">Info</button>

        </section> 

        <section class="mb-5">
            <h2>Buttons Sizes</h2>
            <button class="btn btn-primary btn-lg">Large</button>
            <button class="btn btn-primary">Default</button>
            <button class="btn btn-primary btn-sm">Small</button>

            <br>
            <br>

            <button class="btn btn-primary btn-lg btn-block">Block</button>

        </section> 

        <section class="mb-5">
            <h2>Button Group</h2>

            <div class="btn-group">
                <button class="btn btn-primary">Default</button>
                <button class="btn btn-primary">Default</button>
                <button class="btn btn-primary">Default</button>
            </div>
        </section>

        <section class="mb-5">
            <h2>Button Checkbox</h2>
            
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="checkbox" cheked>
                    Active
                </label>
            
                <label class="btn btn-primary">
                    <input type="checkbox">
                    Check1
                </label>
        
                <label class="btn btn-primary">
                    <input type="checkbox">
                    Check
                </label>
            </div>
        </section>
            
        <section class="mb-5">
            <h2>Button Radio</h2>
             
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="radio" checked>
                    Active
                </label>
            
                <label class="btn btn-primary">
                    <input type="radio" name="radio">
                    Check
                </label>
            
                <label class="btn btn-primary">
                    <input type="radio" name="radio">
                    Check1
                </label>
            </div>
            
             
        </section>

        <section class="mb-5">
            <h2>Table</h2>

            <table class="table table-striped table-hover table-dark">
            <thead class="thead-dark">
                <tr>
                  <th>Company</th>
                  <th>Contact</th>
                  <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Alfreds </td>
                  <td>Maria </td>
                  <td>Germany</td>
                </tr>
                <tr>
                  <td>Centro  </td>
                  <td>Francisco </td>
                  <td>Mexico</td>
                </tr>
                <tr>
                    <td>Centro  </td>
                    <td>Francisco </td>
                    <td>Mexico</td>
                  </tr>
            </tbody>
            </table>

        </section>

        <section class="mb-5">
            <h2>Forms</h2>
            
            <div class="form-group">
                <label> Email Address </label>
                <input type="email" name="email" class="form-control" placeholder="Enter Email">
                <small class="form-text text-muted">Enter Valid Email</small>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>

            <div class="form-group">
                <label>Select</label>
                <select class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="form-group">
                <label>TextArea</label>
                <textarea class="form-control" cols="30" rows="5" placeholder="Text TextArea"></textarea>
            </div>

            <div class="form-group">
                <label>Disabled Input</label>
                <input type="text" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label>Readonly Input</label>
                <input type="text" class="form-control" readonly="">
            </div>

            <div class="form-group">
                <label>Valid Input</label>
                <input type="text" class="form-control is-valid">
                <div class="valid-feedback">Sucess</div>
            </div>
            <div class="form-group">
                <label>Valid Input</label>
                <input type="text" class="form-control is-invalid">
                <div class="invalid-feedback">Error</div>
            </div>

            <div class="form-group">
                <label>Large Input</label>
                <input type="text" class="form-control form-control-lg" placeholder="large textbox"></input>
            </div>
            <div class="form-group">
                <label>Small Input</label>
                <input type="text" class="form-control form-control-sm" placeholder="small textbox"></input>
            </div>
            
            <fieldset>
                <legend>Custom Form Elements</legend>
                <div class="form-group">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
                        <label class="custom-control-label" for="customRadio1">Toggle Custom Radio1</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Toggle Custom Radio2</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio3">Toggle Custom Radio3</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="customCheckbox" class="custom-control-input" checked="">
                        <label for="customCheckbox" class="custom-control-label">Custom Checkbox</label>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch" class="custom-control-input" checked="">
                            <label for="customSwitch" class="custom-control-label">Custom Switch</label>
                        </div>
                </div>

            </fieldset>
        </section>

        <section class="mb-5">
            <h2>Tabs</h2>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#home" class="nav-link active" data-toggle="tab">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#profile" class="nav-link" data-toggle="tab">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link" data-toggle="tab">About</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="home">
                    <h2>Home</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quae tempora dolor vel quam dolores omnis numquam expedita voluptate ratione?</p>
                </div>

                <div class="tab-pane fade show " id="profile">
                    <h2>Profile</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quae tempora dolor vel quam dolores omnis numquam expedita voluptate ratione?</p>
                </div>
            
                <div class="tab-pane fade" id="about">
                    <h2>About</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quae tempora dolor vel quam dolores omnis numquam expedita voluptate ratione?</p>
                </div>
            </div>

        
            <!-- <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"  aria-controls="home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"  aria-controls="profile" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact"  aria-controls="contact" aria-selected="false">Contact</a>
                </li>
              </ul>
              
              <div class="tab-content">
                <div class="tab-pane fade show active" id="home">
                    <h2>Home</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quae tempora dolor vel quam dolores omnis numquam expedita voluptate ratione?</p>
                </div>
                <div class="tab-pane fade" id="profile">
                    <h2>About</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quae tempora dolor vel quam dolores omnis numquam expedita voluptate ratione?</p>
                </div>
                <div class="tab-pane fade" id="contact">
                    <h2>Contact</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quae tempora dolor vel quam dolores omnis numquam expedita voluptate ratione?</p>
                </div>
            </div>
        </div> -->



        </section>

        <section class="mb-5">
            <h2>Alert</h2>

            <div class="alert alert-success">
                <h4 class="alert-heading">Success!</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam iste, aspernatur eligendi voluptatum eos minus nemo perspiciatis eius quod? Modi!</p>
            </div>
            <div class="alert alert-danger">
                <h4 class="alert-heading">Danger!</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam iste, aspernatur eligendi voluptatum eos minus nemo perspiciatis eius quod? Modi!</p>
            </div>
            <div class="alert alert-warning">
                <h4 class="alert-heading">Warning!</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam iste, aspernatur eligendi voluptatum eos minus nemo perspiciatis eius quod? Modi!</p>
            </div>
            <div class="alert alert-info">
                <h4 class="alert-heading">Info!</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam iste, aspernatur eligendi voluptatum eos minus nemo perspiciatis eius quod? Modi!</p>
            </div>
            <div class="alert alert-dismissible alert-danger fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Danger!</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam iste, aspernatur eligendi voluptatum eos minus nemo perspiciatis eius quod? Modi!</p>
            </div>

        </section>

        <section class="sectio-mb5">
            <h2>Badge</h2>
            <span class="badge badge-primary">Primary</span>
            <span class="badge badge-secondary">Secondary</span>
            <span class="badge badge-success">Success</span>
            <span class="badge badge-danger">Danger</span>
            <span class="badge badge-warning">Warning</span>
            <span class="badge badge-info">Info</span>
            <span class="badge badge-light">Light</span>
            <span class="badge badge-dark">Dark</span>
        </section>

        <section class="mb-5">
            <h2>Progress Bar</h2>
            <div class="progress mb-2">
                <div class="progress-bar bg-danger" style="width:25%;" aria-valuemax="100">25%</div>
            </div>
            <div class="progress mb-2">
                <div class="progress-bar bg-warning" style="width:50%;" aria-valuemax="100">50%</div>
            </div>
            <div class="progress mb-2">
                <div class="progress-bar bg-info" style="width:75%;" aria-valuemax="100">75%</div>
            </div>
            <div class="progress mb-2">
                <div class="progress-bar bg-success" style="width:100%;" aria-valuemax="100">100%</div>
            </div>
        </section>

        <section class="mb-5">
            <h2>Container</h2>

            <div class="jumbotron">
                <h1>Hello World!</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit aspernatur cum earum dolorem asperiores expedita.</p>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, fuga.</p>
                <a href="#" class="btn btn-primary ">Start Now</a> 
            </div>

        </section>

        <section class="mb-5">
            <h2>List Group</h2>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">List 1</a>
                <a href="#" class="list-group-item list-group-item-action ">List 2</a>
                <a href="#" class="list-group-item list-group-item-action ">List 3</a>
                <a href="#" class="list-group-item list-group-item-action ">List 4</a>
            </div>
        </section>

        <section class="mb-5">
            <h2>Cards</h2>

            <div class="card mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Card Title</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, distinctio.</p>
                </div>
            </div>

            <div class="card mb-3 bg-dark text-white" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Card Title</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, distinctio.</p>
                </div>
            </div>

            <div class="card mb-3 bg-info" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Card Title</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, distinctio.</p>
                </div>
            </div>

        </section>

        <section class="mb-5">
            <h2>Dialogs - Popover</h2>

            <button type="button" class="btn btn-secondary" title="left" data-container="Body" data-toggle="popover" data-placement="left" data-content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, distinctio.">Left</button>

            <button type="button" class="btn btn-secondary" title="top" data-container="Body" data-toggle="popover" data-placement="top" data-content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, distinctio.">Top</button>

            <button type="button" class="btn btn-secondary" title="bottom" data-container="Body" data-toggle="popover" data-placement="bottom" data-content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, distinctio.">Bottom</button>

            <button type="button" class="btn btn-secondary" title="right" data-container="Body" data-toggle="popover" data-placement="right" data-content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, distinctio.">Right</button>

        </section>

        <section class="mb-5">
            <h2>Dialogs - Tooltip</h2>

            <button type="button" class="btn btn-secondary" data-original-title="Tooltip left"  data-toggle="tooltip" data-placement="left">Left</button>

            <button type="button" class="btn btn-secondary" data-original-title="Tooltip top"  data-toggle="tooltip" data-placement="top">Top</button>

            <button type="button" class="btn btn-secondary" data-original-title="Tooltip bottom"  data-toggle="tooltip" data-placement="bottom">Bottom</button>

            <button type="button" class="btn btn-secondary" data-original-title="Tooltip right"  data-toggle="tooltip" data-placement="right">Right</button>
        </section>


        <section class="mb-5">
            <h2>Modal</h2>

            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#aexampleModal">Show Modal</button>

            <div class="modal fade" id="aexampleModal" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal Title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
                        </div>
                        <div class="modal-body">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, explicabo.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Save Change</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close Modal</button>
                        </div>
                    </div>
                </div>
            </div>
            
            


           
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  

  <div class="modal fade" id="exampleModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->

        </section>




        <div style="margin-bottom: 5rem;"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <script>
        $(function(){
            $('[data-toggle="popover"]').popover();
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>

</body>
</html>